.cursor-icon {
  height: 32px;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate(-50%, -50%);
  width: 32px;
  z-index: 999;
}

.cursor-icon .token {
  height: inherit;
  width: inherit;
}
