/* show modal when both are checked or both are unchecked */
#modal-show:checked ~ #modal-hide:checked ~ .modal,
#modal-show ~ #modal-hide ~ .modal {
  opacity: 1;
  pointer-events: initial;
}
#modal-show:checked ~ #modal-hide:checked ~ .modal .modal-contents,
#modal-show ~ #modal-hide ~ .modal .modal-contents {
  transform: translateY(0px);
}

/* hide modal when one is checked and the other is unchecked */
#modal-show:checked ~ #modal-hide ~ .modal,
#modal-show ~ #modal-hide:checked ~ .modal {
  opacity: 0;
  pointer-events: none;
}
#modal-show:checked ~ #modal-hide ~ .modal .modal-contents,
#modal-show ~ #modal-hide:checked ~ .modal .modal-contents {
  transform: translateY(-10px);
}

.modal-actions-close:before,
.modal-actions-close:after {
  background-color: var(--text-color);
  border-radius: 1px;
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
}

.modal-actions-close:before {
  left: 0;
  transform: rotate(45deg);
}
.modal-actions-close:after {
  right: 0;
  transform: rotate(-45deg);
}
