:root {
  --modal-padding: 32px;
}

.modal-provider {
  all: inherit;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms ease;
  z-index: 30;
}

.modal-contents {
  background-color: #f2f2f2;
  border-radius: 3px;
  max-height: calc(100% - 16px);
  max-width: calc(100svw - 16px);
  padding: var(--modal-padding);
  position: relative;
  transition: transform 200ms ease;
}

.checkbox-label {
  cursor: pointer;
  outline-offset: calc(var(--padding) / -4);
  position: relative;
  z-index: 20;
}

.checkbox-label .header-button {
  border-color: transparent;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  transition: border-color 150ms ease;
}
.checkbox-label:hover .header-button {
  border-color: var(--stroke-color);
}

/* show modal when both are checked or both are unchecked */
#modal-show:checked ~ #modal-hide:checked ~ .modal,
#modal-show ~ #modal-hide ~ .modal {
  opacity: 1;
  pointer-events: initial;
}
#modal-show:checked ~ #modal-hide:checked ~ .modal .modal-contents,
#modal-show ~ #modal-hide ~ .modal .modal-contents {
  transform: translateY(0px);
}

/* hide modal when one is checked and the other is unchecked */
#modal-show:checked ~ #modal-hide ~ .modal,
#modal-show ~ #modal-hide:checked ~ .modal {
  opacity: 0;
  pointer-events: none;
}
#modal-show:checked ~ #modal-hide ~ .modal .modal-contents,
#modal-show ~ #modal-hide:checked ~ .modal .modal-contents {
  transform: translateY(-10px);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--modal-padding) / -2);
  position: relative;
  width: calc(100% + var(--modal-padding) / 2);
}

.modal-actions-close {
  align-items: center;
  aspect-ratio: 1;
  cursor: pointer;
  display: flex;
  height: 16px;
  position: relative;
  width: 16px;
}

.modal-actions-close:before,
.modal-actions-close:after {
  background-color: var(--text-color);
  border-radius: 1px;
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
}

.modal-actions-close:before {
  left: 0;
  transform: rotate(45deg);
}
.modal-actions-close:after {
  right: 0;
  transform: rotate(-45deg);
}
