.header {
  box-shadow: 0 1px 0 var(--stroke-color);
  display: flex;
  gap: 16px;
}

.header-text {
  display: flex;
  gap: inherit;
}

.title {
  font-family: serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.date {
  font-family: serif;
  font-size: 16px;
  font-weight: 400;
}

.difficulty {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-self: center;
  text-transform: capitalize;
}

.expand {
  flex-grow: 1;
}
