:root {
  --pad-xs: 4px;
  --pad-sm: 8px;
  --pad-md: 16px;
  --pad-lg: 32px;
  --pad-xl: 64px;
  --padding: var(--pad-md);
  --header-height: 50px;
}

.app {
  align-items: center;
  display: flex;
  height: 100svh;
  justify-content: center;
  position: relative;
  width: 100svw;
}

.header {
  border-bottom: 1px solid var(--stroke-color);
  height: var(--header-height);
  position: absolute;
  top: 0;
  width: 100%;
}

.main {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: calc(100% - var(--header-height));
  justify-content: center;
  margin-top: var(--header-height);
  padding: var(--padding);
  position: relative;
  width: 100%;
}
