.candidates {
  align-items: center;
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--token-margin);
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.candidate {
  display: flex;
  flex-basis: calc(33% - var(--token-margin));
  flex-grow: 1;
}

.candidate-label {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.candidate-label .token {
  margin: 0;
}

.candidate-input ~ .candidate-label {
  cursor: pointer;
  pointer-events: all;
}
.candidate-input ~ .candidate-label svg {
  opacity: 0.3;
}
.candidate-input:disabled ~ .candidate-label {
  cursor: default;
  pointer-events: none;
}
.candidate-input:disabled ~ .candidate-label .token,
.candidate-input:disabled ~ .candidate-label svg {
  opacity: 0;
}
.candidate-input:checked ~ .candidate-label .token,
.candidate-input:checked ~ .candidate-label svg {
  opacity: 0.9;
}
