:root {
  --game-inner-border: 2px solid var(--border-color);
  --game-border: 3px solid var(--border-color);
}

.game-cell {
  background-color: var(--white);
  border: 0.5px solid var(--border-color);
}

.game-cell,
.game-control {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: var(--game-cell-size);
  justify-content: center;
  max-height: var(--game-cell-size-max);
  max-width: var(--game-cell-size-max);
  min-height: var(--game-cell-size-min);
  min-width: var(--game-cell-size-min);
  position: relative;
  width: var(--game-cell-size);
}

.game-cell.locked {
  background-color: var(--locked);
}

.game-cell.incorrect::after {
  background-color: var(--error-color);
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 150%;
}

.game-cell.inner-border-bottom {
  border-bottom: var(--game-inner-border);
}
.game-cell.inner-border-right {
  border-right: var(--game-inner-border);
}
.game-cell.outer-border-top {
  border-top: var(--game-border);
}
.game-cell.outer-border-bottom {
  border-bottom: var(--game-border);
}
.game-cell.outer-border-left {
  border-left: var(--game-border);
}
.game-cell.outer-border-right {
  border-right: var(--game-border);
}

.game-cell.highlight,
.game-cell.same-value {
  background-color: var(--lowlight-color);
}
.game-cell.highlight > .token {
  border: 1px solid var(--lowlight-color);
}

.game-cell.selected > .token,
.game-cell.same-value > .token {
  transform: scale(0.85);
}

.game-cell.same-value > .token {
  border: 1px solid currentColor;
  padding: 2px;
}

.game-cell.empty > .token::before {
  background-color: transparent;
}

.game-cell.selected {
  background-color: var(--highlight-color);
}
.game-cell.selected > .token {
  border: 1px solid var(--highlight-color);
}
