:root {
  /* --game-columns: 9;
  --game-size: 90vmin;
  --game-cell-size-min: 32px;
  --game-cell-size-max: 96px;
  --game-cell-size: calc(var(--game-size) / var(--game-columns));
  --game-size-min: calc(var(--game-cell-size-min) * var(--game-columns));
  --game-size-max: calc(var(--game-cell-size-max) * var(--game-columns));
  --token-scale: scale(0.75);
  --candidate-tokens-size: 115%; */
}

:root {
  --controls-size: 100px;
  --game-height-max: calc(100% - var(--padding));
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  height: var(--game-height-max);
  justify-content: flex-start;
  width: 100%;
  outline: 1px solid lime;
}

.game-board,
.game-controls {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-board {
  aspect-ratio: 1;
  width: 100%;
  outline: 1px solid magenta;
}

.game-controls {
  height: var(--controls-size);
  /* width: var(--controls-width); */
  outline: 1px solid cyan;
}

/* @media screen and (min-width: 800px) {
  .game {
    flex-direction: row;
  }
} */
