:root {
  --border-color: #000000;
  --filled: #dfdfdf;
  --empty: #ffffff;
  --highlight: #f88806;
  --lowlight: #fec468;
}

:root {
  --game-columns: 9;
  --game-size: 90vmin;
  --game-cell-size-min: 32px;
  --game-cell-size-max: 64px;
  --game-cell-size: calc(var(--game-size) / var(--game-columns));
}

.game {
  align-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-bottom: 1px solid var(--border-color);
  border-left: 2.5px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 2.5px solid var(--border-color);
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: calc(var(--game-cell-size) * var(--game-columns));
  justify-content: center;
  max-height: calc(var(--game-cell-size-max) * var(--game-columns));
  max-width: calc(var(--game-cell-size-max) * var(--game-columns));
  min-height: calc(var(--game-cell-size-min) * var(--game-columns));
  min-width: calc(var(--game-cell-size-min) * var(--game-columns));
  width: calc(var(--game-cell-size) * var(--game-columns));
}
