.game-control {
  background-color: #00000066;
  border-radius: 2px;
}

.game-control .game-control-icon {
  height: 75%;
  position: relative;
  transition:
    filter 100ms ease,
    transform 150ms ease;
  width: 75%;
}

.game-control:not(.disabled) {
  cursor: pointer;
}

.game-control:not(.disabled):hover .game-control-icon {
  filter: drop-shadow(4px 4px 2px #00000099);
  transform: translateX(-2px) translateY(-2px);
}

svg.react-icon {
  color: var(--white);
  height: 100%;
  width: 100%;
}
