:root {
  --border-color: #000000;
  --filled: #dfdfdf;
  --empty: #ffffff;
  --highlight: #fec468;
  --lowlight: #f9eac2;
}

.game {
  --columns: 9;
  --game-cell-size-min: 32px;
  --game-cell-size-max: 64px;
  --game-cell-size: calc(99vmin / var(--columns));
  align-items: center;
  align-content: center;
  aspect-ratio: 1;
  border-bottom: 1px solid var(--border-color);
  border-left: 2.5px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-top: 2.5px solid var(--border-color);
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  min-height: calc(var(--game-cell-size-min) * var(--columns));
  max-height: calc(var(--game-cell-size-max) * var(--columns));
  height: calc(var(--game-cell-size) * var(--columns));
  justify-content: center;
  min-width: calc(var(--game-cell-size-min) * var(--columns));
  max-width: calc(var(--game-cell-size-max) * var(--columns));
  width: calc(var(--game-cell-size) * var(--columns));
}

.game-cell {
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--empty);
  border: 0.5px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  min-height: var(--game-cell-size-min);
  min-width: var(--game-cell-size-min);
  max-height: var(--game-cell-size-max);
  max-width: var(--game-cell-size-max);
  height: var(--game-cell-size);
  width: var(--game-cell-size);
}

.game-cell.filled {
  background-color: var(--filled);
}

.game-cell.highlight {
  background-color: var(--highlight);
}

.game-cell.lowlight {
  background-color: var(--lowlight);
}

.game-cell.border-right {
  border-right: 2px solid var(--border-color);
}

.game-cell.border-bottom {
  border-bottom: 2px solid var(--border-color);
}
