:root {
  --options: 10;
  --options-size: calc(100% / var(--options));
  --options-height: auto;
  --options-width: var(--options-size);
}

@media screen and (min-width: 600px), screen and (min-width: 100svh) {
  :root {
    --options-height: var(--options-size);
    --options-width: auto;
  }
}

.option {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  filter: drop-shadow(0 0 0 #00000033);
  flex-basis: 0;
  flex-grow: 1;
  height: var(--options-height);
  justify-content: center;
  width: var(--options-width);
}
.option > .token {
  transition:
    filter 150ms ease,
    transform 150ms ease;
}

.option:not(.disabled) {
  cursor: pointer;
}
.option:not(.disabled):hover > .token {
  filter: drop-shadow(2.5px 4px 2px #00000099);
  transform: translateX(-2px) translateY(-2px);
}

.option.disabled > .token {
  outline: 2px solid white;
}
.option.disabled > .token svg {
  filter: brightness(0.5);
  opacity: 0.5;
}

.option > .token {
  z-index: auto;
}
.option:not(.disabled):hover > .token ~ .candidate-token > .token {
  z-index: -1;
}
