.symbol {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.symbol-x:before,
.symbol-x:after {
  background-color: #ffffff;
  border-radius: 2px;
  content: '';
  height: 4px;
  position: absolute;
  width: 100%;
}

.symbol-x:before {
  left: 0;
  transform: rotate(45deg);
}
.symbol-x:after {
  right: 0;
  transform: rotate(-45deg);
}
