.token {
  height: inherit;
  padding: 6px;
  width: inherit;
}

/* .token svg {
  overflow: visible;
  stroke: var(--stroke-color);
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 1px;
  stroke-width: 1px;
} */
