.token-select {
  background-color: var(--menu-color);
  border-radius: 2px;
}

.token-option {
  transition: filter 100ms ease;
  transition-delay: 50ms;
}
.token-option:not(.complete) {
  cursor: pointer;
}
.token-option:not(.complete):hover {
  filter: drop-shadow(4px 4px 2px #00000099);
}

.token-option:not(.complete):hover .token {
  transform: var(--token-scale) translateX(-2px) translateY(-2px);
}
