.token {
  align-items: center;
  aspect-ratio: 1;
  border-radius: var(--controls-size);
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  margin: 0.75vmin;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 150ms ease-in;
}
/* .token::before {
  background-color: var(--white);
  content: '';
  position: absolute;
  transform: translateZ(-1px);
} */

.token svg {
  aspect-ratio: 1;
  overflow: visible;
  stroke: var(--stroke-color);
  stroke-linecap: round;
  stroke-miterlimit: 0;
  stroke-width: 0.5px;
}
