:root {
  --border-color: #000000;
  --filled: #dfdfdf;
  --white: #ffffff;
  --html-bgcolor: #f0f0f8;
  --text-color: #222222;
}

html {
  background-color: var(--html-bgcolor);
  height: 100vh;
  margin: 0;
  overflow-x: hidden; /* prevent horizontal overscroll */
  padding: 0;
  width: 100vw;
}

body {
  color: var(--text-color);
  display: block;
  font-family: sans-serif;
  height: inherit;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
  width: inherit;
}

#root {
  align-items: center;
  display: flex;
  height: 100svh;
  justify-content: center;
  position: relative;
  width: 100svw;
}

*,
::before,
::after {
  border-radius: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
}

.heading {
  display: block;
  font-family: serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.gap {
  display: block;
  height: 10px;
  pointer-events: none;
  width: 10px;
}
