:root {
  --text-color: #222222;
  --background-color: #f0f0f8;
  --stroke-color: #444444;
}

html {
  background-color: var(--background-color);
  overflow-x: hidden;
}

body {
  color: var(--text-color);
}

body,
button {
  font-family: monospace;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
}

button {
  display: flex;
  gap: 8px;
  padding: 8px;
}

button:not(:disabled) {
  cursor: pointer;
}

#root {
  all: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.game {
  background-color: lightgreen;
}
aside {
  background-color: lightsalmon;
}
