html {
  background-color: #f0f0f8;
  height: 100vh;
  margin: 0;
  overflow-x: hidden; /* prevent horizontal overscroll */
  padding: 0;
  width: 100vw;
}

body,
#root {
  display: block;
  height: inherit;
  margin: 0 auto;
  padding: 0;
  width: inherit;
}

*,
::before,
::after {
  border-radius: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
}
